body{
    margin:0px;
}

h1{
    background-color: black;
    color:white;
    padding:15px;
    top:0px;
    margin:0px;
    text-align: center;
}

#imgGo{
    border: 5px solid #777777;
    border-radius: 10px;
}

.ball {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: linear-gradient(#330000, #aa0000, #330000);
    border: 3px solid #cccccc;
}

.blueGradient {
    background: linear-gradient(#003366, #006699, #003366);
}

/*
When I was testing, I was using the redGradient. 
.redGradient {
    background: linear-gradient(#330000, #aa0000, #330000);
}*/



/*
Originally I was going to make the shape "square" when it was at rest (stopped), but it wasn't as neat in action as it seemed in my head.  
.square {
    border-radius: 0%;
    background: linear-gradient(#003366, #006699, #003366); 
}
 red - linear-gradient(#330000, #aa0000, #330000); blue - linear-gradient(#003366, #006699, #003366);
*/